<nav>
    <div class="navbar">
      <ul>
      <li><a class="active" href="/">Travel Explorer</a></li>
      <li><a href="#news">Gallery</a></li>
      <li><a href="#contact">Testimonials</a></li>
      <li><a href="#about">Contact us</a></li>
      <li><a href="#about">Admin</a></li>
      <div class="dropdown">
        <button class="dropbtn">User
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../register.component.html">Login</a>
          <a href="/profile">Profile</a>
          <a href="/favorites">Favorites</a>
         <!-- <a href="/logout">Logout</a> -->
        </div>
      </div>
    </ul>
    </div>
  </nav>